<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            <img class="header__logoM" src="img/LogoM.png" alt="">
            <img class="header__logo-MartPlace" src="img/MartPlace.png" alt="">
          </a>
        </div>
        <div class="header-box">
          <a class="header__button" href="#">Become a Seller</a>
          <div class="icons">
            <a class="icon-1" href="#"></a>
            <a class="icon-1" href="#"></a>
            <a class="icon-1" href="#"></a>
          </div>
          <div class="header__info">
            <a href="#">
              <img class="header__avatar" src="img/avatar.png" alt="">
              <img class="header__name" src="img/name.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <div class="container">
        <div class="header__bottom-inner">
          <nav class="menu">
            <ul class="menu__list">
              <li>
                <a href="#">HOME </a>
              </li>
              <li>
                <a href="#">all products </a>
              </li>
              <li>
                <a href="#">wordpress</a>
              </li>
              <li>
                <a href="#">festures</a>
              </li>
              <li>
                <a href="#">Page</a>
              </li>
            </ul>
          </nav>
          <form>
            <input type="text" placeholder="Search product here..." required>
            <button type="submit"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>