@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-bold.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-bold.woff) format('woff'),
        url(../fonts/quicksand/quicksand-bold.eot) format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-bold-italic.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-bold-italic.woff) format('woff'),
        url(../fonts/quicksand/quicksand-bold-italic.eot) format('embedded-opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-regular.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-regular.woff) format('woff'),
        url(../fonts/quicksand/quicksand-regular.eot) format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-italic.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-italic.woff) format('woff'),
        url(../fonts/quicksand/quicksand-italic.eot) format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-medium.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-medium.woff) format('woff'),
        url(../fonts/quicksand/quicksand-medium.eot) format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-light-italic.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-light-italic.woff) format('woff'),
        url(../fonts/quicksand/quicksand-light-italic.eot) format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand/quicksand-light.woff2) format('woff2'),
        url(../fonts/quicksand/quicksand-light.woff) format('woff'),
        url(../fonts/quicksand/quicksand-light.eot) format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}